.img-item {
  width: 50%;
  height: 60%;
  float: left;
  display: flex;
  justify-content: center;
}
.img-item > img {
  border: 1px solid black;
}
.infor-item {
  width: 50%;
  height: 50%;
  float: left;
  text-align: left;
  border-top: 1px solid black;
}
.infor-item > table > tr > th {
  font-size: 18px;
  padding-bottom: 30px;
}
.infor-item > table > tr > td {
  padding-bottom: 30px;
  font-size: 18px;
  padding-left: 30px;
  color: gray;
}
.infor-contact {
  height: 100%;
}

.infor-contact > img {
  width: 100%;
  height: 500px;
  border-top: 1px solid black;
}
