<div class="wrapp">
  <!-- <div class="header">
    <header>
      <div class="header-navbar">
        <a href="index.html">HNShop</a>
        <nav class="header-nav">
          <ul class="header-list">
            <li class="header-list--item">
              <a routerLink="/fullpage">Trang Chủ</a>
            </li>
            <li class="header-list--item">
              <a routerLink="/detail">Thời Trang Nữ</a>
            </li>
            <li class="header-list--item">
              <a routerLink="/detail">Thời Trang Nam</a>
            </li>
            <li class="header-list--item">
              <a href="/fullpage/#contact">Về Chúng Tôi</a>
            </li>
            <li class="header-list--item">
              <a routerLink="/login">Liên Hệ / Kết Nối :</a>
            </li>
          </ul>
        </nav>
        <div class="seach"> -->
  <!-- <input  id="seach-input" type="text">
          <a href=""><img src="./assets/image/Screenshot 2022-05-21 001617.png" alt=""></a> -->
  <!-- <a href="https://www.facebook.com/profile.php?id=100013145042189"
            ><img src="./assets/image/iconfb.jpg" alt=""
          /></a>
          <a href="https://www.facebook.com/profile.php?id=100013145042189"
            ><img src="./assets/image/iconmayanh.jpg" alt=""
          /></a>
          <a href="https://www.facebook.com/profile.php?id=100013145042189"
            ><img src="./assets/image/iconyoutube.jpg" alt=""
          /></a>
          <a href="https://www.facebook.com/profile.php?id=100013145042189"
            ><img src="./assets/image/iconzalo.jpg" alt=""
          /></a>
        </div>
      </div>
    </header>
  </div> -->
  <div class="container1">
    <router-outlet> </router-outlet>
  </div>

  <!-- <section class="footer" id="footer">
    <div class="container-lienhe">
      <p>HN Shop</p>
      <div class="hiden">
        <a href="" class="" style="color: white">aaaaaa</a>
      </div>
      <img src="./assets/image/footer.jpg" alt="" /> alt="">
      <div class="logodangky">
        <img src="./assets/image/dangky.jpg" alt="" />
      </div>
    </div>
  </section>
</div> -->
  <!-- end-container -->
</div>
