<div class="header">
  <header>
    <div class="header-navbar">
      <a href="index.html">HNShop</a>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-list--item">
            <a routerLink="/fullpage">Trang Chủ</a>
          </li>
          <li class="header-list--item">
            <a routerLink="/detail">Thời Trang </a>
          </li>
          <li class="header-list--item">
            <a routerLink="/detail">Tin Tức</a>
          </li>
          <li class="header-list--item">
            <a href="/fullpage/#contact">Về Chúng Tôi</a>
          </li>
          <li class="header-list--item">
            <a href="/fullpage/#contact">Liên Hệ </a>
          </li>
          <li class="header-list--item">
            <a routerLink="/fullpage"> Kết Nối :</a>
          </li>
        </ul>
      </nav>
      <div class="seach">
        <!-- <input  id="seach-input" type="text">
          <a href=""><img src="./assets/image/Screenshot 2022-05-21 001617.png" alt=""></a> -->
        <a href="https://www.facebook.com/profile.php?id=100013145042189"
          ><img src="./assets/image/iconfb.jpg" alt=""
        /></a>
        <a href="https://www.facebook.com/profile.php?id=100013145042189"
          ><img src="./assets/image/iconmayanh.jpg" alt=""
        /></a>
        <a href="https://www.facebook.com/profile.php?id=100013145042189"
          ><img src="./assets/image/iconyoutube.jpg" alt=""
        /></a>
        <a href="https://www.facebook.com/profile.php?id=100013145042189"
          ><img src="./assets/image/iconzalo.jpg" alt=""
        /></a>
      </div>
    </div>
  </header>
</div>
<div class="container">
  <div class="containerheder">
    <section class="trangchu" id="trangchu">
      <div class="banner-header">
        <div class="banner-header-image">
          <input type="radio" name="inputslider" id="img1" />
          <input type="radio" name="inputslider" id="img2" />
          <img
            src="./assets/image/banner-header.jpg"
            alt="img1"
            class="sliderimg1"
          />
          <img
            src="./assets/image/banner-thoitrang1.jpg"
            alt="img2"
            class="sliderimg2"
          />
        </div>
      </div>

      <div class="labelslider">
        <label for="img1"></label>
        <label for="img2"></label>
      </div>
    </section>
  </div>
  <!-- endcontainerheader -->
  <div class="container-banner">
    <div class="banner">
      <img src="./assets/image/banner_facebook.jpg" alt="" />
    </div>
    <div class="banner2">
      <img src="./assets/image/20191105_AppVinID_BannerWeb_NGAOS.webp" alt="" />
    </div>
  </div>
  <!-- end-container-baner -->
  <div class="container-sex">
    <div class="sex">
      <a href="">Nữ</a>
      <a href="">Nam</a>
    </div>
    <div class="sex-banner">
      <img src="./assets/image/banner-sex.png" alt="" />
    </div>
  </div>
  <!-- end-container-sex -->
  <div class="container-iteam">
    <section class="container-sex--banner" id="container-sex--banner">
      <h1 style="font-size: 45px">Sản Phẩm Mới Nhất</h1>
      <div class="gallery-dislay">
        <div class="gallery-wrap">
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142811.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142845.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142902.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142917.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142902.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142845.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142902.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142917.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142902.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142845.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142902.png"
              alt=""
            />
          </div>
          <div class="gllery-image">
            <img
              src="./assets/image-item/Screenshot 2022-05-24 142917.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end-container-item -->

  <div class="container-banner-mix">
    <img src="./assets/image/banner mix.png" alt="" />
    <img src="./assets/image/banner-goiy.png" alt="" />
  </div>
  <section class="contact" id="contact">
    <div class="container-contact">
      <div class="container-contact-phone">
        <div class="contact-phone">
          <span class="phone">
            <p>TƯ VẤN/ĐẶT MUA HÀNG:</p>
            <p>0338242557</p>
          </span>
        </div>
        <div class="contact-phone2">
          <span class="phone">
            <p>KẾT NỐI :</p>
            <a href="https://www.facebook.com/profile.php?id=100013145042189"
              ><img src="./assets/image/iconfb.jpg" alt=""
            /></a>
          </span>
        </div>
      </div>
      <div class="container-contact-lienhe">
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href="contact.html"
            ><img src="./assets/image/doihang.jpg" alt="" />
            <p>Quy Định Đổi Hàng</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/vanchuyen.jpg" alt="" />
            <p>Chính Sách Vận Chuyển</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/baomat1.jpg" alt="" />
            <p>Bảo Mật Thông Tin</p></a
          >
        </div>
        <div class="contact-lienhe">
          <a routerLink="/rulepage" href=""
            ><img src="./assets/image/baohanh1.jpg" alt="" />
            <p>Bảo Hành</p></a
          >
        </div>
      </div>
    </div>
  </section>
</div>
<!-- endcontainer -->
<section class="footer" id="footer">
  <div class="container-lienhe">
    <p style="margin-top: 30px">HN Shop</p>
    <!-- <div class="hiden">
        <a href="" class="" style="color: white">aaaaaa</a>
      </div> -->
    <img src="./assets/image/footer.jpg" alt="" /> alt="">
    <div class="logodangky">
      <img src="./assets/image/dangky.jpg" alt="" />
    </div>
  </div>
</section>

<!-- endwrrapp -->
