<div class="wrapp">
  <div class="header">
    <header>
      <div class="header-navbar">
        <a href="index.html">HNShop</a>
        <nav class="header-nav">
          <ul class="header-list">
            <li class="header-list--item">
              <a routerLink="/fullpage">Trang Chủ</a>
            </li>
            <li class="header-list--item">
              <a routerLink="/infor">Thời Trang</a>
            </li>
            <li class="header-list--item">
              <a routerLink="/detail">Tin Tức</a>
            </li>
            <li class="header-list--item">
              <a href="/fullpage/#contact">Về Chúng Tôi</a>
            </li>
            <li class="header-list--item">
              <a href="/fullpage/#contact">Liên Hệ </a>
            </li>
            <li class="header-list--item">
              <a routerLink="/fullpage/#contact">Kết Nối </a>
            </li>
          </ul>
        </nav>
        <div class="seach">
          <!-- <form [formGroup]="seachForm" (ngSubmit)="onSeach()">
            <input id="seach-input" type="text" formControlName="name" />
          </form> -->
          <a href=""
            ><img src="./assets/image/Screenshot 2022-05-21 001617.png" alt=""
          /></a>
        </div>
      </div>
    </header>
  </div>
  <div class="container-chitietsanpham">
    <div class="container-chitietsanpham-item">
      <div *ngFor="let product of products">
        <div class="container-item">
          <!-- ----------1sanpham---------------- -->
          <div class="item-image">
            <a href="/infor/{{ product.id }}">
              <img [src]="product.img" />
            </a>
          </div>
          <div class="ifor-item">
            <ul>
              <li style="font-size: 25px">
                <p>{{ product.name }}</p>
              </li>
              <li style="font-size: 20px; color: gray">
                <p>{{ product.money }}VND</p>
              </li>
            </ul>
            <ul>
              <button routerLink="/user" class="button-add">Mua Hàng</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
